.textInput {
  max-width: 720px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: var(--text2);

  &:not(.isAddon) {
    margin-top: 24px;
  }

  > input, > textarea {
    --focus-border-color: var(--highlight-color);
    border: none;
    width: 100%;
    border-radius: 4px;
    outline: 1px solid var(--interactive8);
    transition: outline .09s ease-in-out;
    background-color: var(--background1);
    padding: 10px 18px;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: var(--text1);
    &:hover, &:focus-visible, &:active {
      outline: 4px solid var(--focus-border);
    }
    &:disabled {
      color: var(--disabled);
      outline: 1px solid var(--disabled);
    }
  }

  .hasError & input {
    background-color: #FFEBEB;
    --focus-border-color: #FF0000;
  }
}


.errorMessage {
  margin-left: 4px;
  color: #BD1531;
}